body{
  font-family: Arial;
  background-color: aliceblue;
}

#main-heading{
  text-align: center;
}

#main-heading:hover{
  color: brown;
}

.grid-container{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

#todo-input, #todo-date{
  font-size: 15px;
  padding: 10px 5px;
  border-radius: 5px;
}

.btn-delete{
  background-color: rgb(91, 7, 15);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 0px;
  cursor: pointer;
}

.btn-delete:hover{
  background-color: red;
}

.btn-todo{
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 0px;
  cursor: pointer;
}

.btn-todo:hover{
  background-color: blue;
}

footer{
  text-align: center;
  opacity: 0.7;
  margin-top: 200px;
}

footer:hover{
  color: blueviolet;
  opacity: 1;
}